<mat-list class="wishItemList" >
     <mat-list-item 
     
     (click)="toggleFullFilled()"
     
     >
    <mat-checkbox [checked]="wish.isComplete"  >

          <p [ngClass]="cssClasses">{{ wish.wishText }}</p>
     
     </mat-checkbox>

     </mat-list-item>

     <div>
          <button type="button" 
          class="btnIcon" mat-icon-button 
          aria-label="icon button with a close icon"
          (click)="removeWish()"
          >
        <mat-icon>delete</mat-icon>
      </button>
     </div>
</mat-list>


<!-- [ngClass]="'strikeout'" -->