.strikeout{
   text-decoration: line-through;
}

.opacity{
color: gray;
}


.wishItemList{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.btnIcon{
   border: none;
   background: none;
}