<div class="container">

<form class="wishlist-form">
<mat-form-field color="accent">
  <mat-label>type your wish to add </mat-label>
  <input matInput name="new-wish-text" [(ngModel)]="newWishText">
</mat-form-field>
 <button 
 type="submit" 
 mat-raised-button 
 color="accent"
 (click)="$event.preventDefault(); addNewWish()"
 >
 Add wish
 </button>
</form>



<div class="filter">
<mat-chip-listbox 
aria-label="Wish Types"
[(ngModel)]="listFilter"
>
  <mat-chip-option value="0">All</mat-chip-option>
  <mat-chip-option value="1" color="warn">Unfulfilled</mat-chip-option>
  <mat-chip-option value="2" color="accent" selected>fulfilled</mat-chip-option>
</mat-chip-listbox>
</div>


  <wish-list 
  [wishes]="visibleItems">
  </wish-list>
</div>
  